In [1]:
!pip install ipython-sql
%load_ext sql
%sql sqlite://

Requirement already satisfied: ipython-sql in c:\users\shrey\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: prettytable<1 in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\shrey\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: jedi>=0.16 in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: colorama in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pickleshare in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\shrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\shrey\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\shrey\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shrey\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [2]:
%%sql
CREATE TABLE sales (
  "customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER
);

INSERT INTO sales
  ("customer_id", "order_date", "product_id")
VALUES
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3');
 

CREATE TABLE menu (
  "product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER
);

INSERT INTO menu
  ("product_id", "product_name", "price")
VALUES
  ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12');
  

CREATE TABLE members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
);

INSERT INTO members
  ("customer_id", "join_date")
VALUES
  ('A', '2021-01-07'),
  ('B', '2021-01-09');

 * sqlite://
Done.
15 rows affected.
Done.
3 rows affected.
Done.
2 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [32]:
%%sql
-- Joining all things
select sales.customer_id,sales.order_date,menu.product_name,menu.price,
case when sales.order_date >= members.join_date then 'Y' else 'N' end as member
from 
sales
inner join
menu  on sales.product_id = menu.product_id
left join
members on sales.customer_id = members.customer_id;

 * sqlite://
Done.

[('A', '2021-01-01', 'sushi', 10, 'N'),
 ('A', '2021-01-01', 'curry', 15, 'N'),
 ('A', '2021-01-07', 'curry', 15, 'Y'),
 ('A', '2021-01-10', 'ramen', 12, 'Y'),
 ('A', '2021-01-11', 'ramen', 12, 'Y'),
 ('A', '2021-01-11', 'ramen', 12, 'Y'),
 ('B', '2021-01-01', 'curry', 15, 'N'),
 ('B', '2021-01-02', 'curry', 15, 'N'),
 ('B', '2021-01-04', 'sushi', 10, 'N'),
 ('B', '2021-01-11', 'sushi', 10, 'Y'),
 ('B', '2021-01-16', 'ramen', 12, 'Y'),
 ('B', '2021-02-01', 'ramen', 12, 'Y'),
 ('C', '2021-01-01', 'ramen', 12, 'N'),
 ('C', '2021-01-01', 'ramen', 12, 'N'),
 ('C', '2021-01-07', 'ramen', 12, 'N')]

In [39]:
%%sql
-- Joining all things
select t.*,case when t.member = 'Y' then rank() over(partition by t.customer_id,member order by t.order_date) else NULL end as ranking from
(select sales.customer_id,sales.order_date,menu.product_name,menu.price,
case when sales.order_date >= members.join_date then 'Y' else 'N' end as member
from 
sales
inner join
menu  on sales.product_id = menu.product_id
left join
members on sales.customer_id = members.customer_id) t;

 * sqlite://
Done.

[('A', '2021-01-01', 'sushi', 10, 'N', None),
 ('A', '2021-01-01', 'curry', 15, 'N', None),
 ('A', '2021-01-07', 'curry', 15, 'Y', 1),
 ('A', '2021-01-10', 'ramen', 12, 'Y', 2),
 ('A', '2021-01-11', 'ramen', 12, 'Y', 3),
 ('A', '2021-01-11', 'ramen', 12, 'Y', 3),
 ('B', '2021-01-01', 'curry', 15, 'N', None),
 ('B', '2021-01-02', 'curry', 15, 'N', None),
 ('B', '2021-01-04', 'sushi', 10, 'N', None),
 ('B', '2021-01-11', 'sushi', 10, 'Y', 1),
 ('B', '2021-01-16', 'ramen', 12, 'Y', 2),
 ('B', '2021-02-01', 'ramen', 12, 'Y', 3),
 ('C', '2021-01-01', 'ramen', 12, 'N', None),
 ('C', '2021-01-01', 'ramen', 12, 'N', None),
 ('C', '2021-01-07', 'ramen', 12, 'N', None)]